---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import PostHero from "@/sections/PostHero.astro";
import Inscripcion from "@/sections/Inscripcion.astro";
import Logo from "@/assets/logo.astro";

import Image1 from "/public/images/inicial.webp";
import Image2 from "/public/images/jardin.webp";
---

<Layout>
    <Hero
        images={[
            {
                src: Image2.src,
                alt: "Frente del Colegio Las Lomas",
                title: "",
                description: "",
            },
        ]}
    />

    <section
        class="bg-white text-gray-800 p-8 rounded-2xl shadow-lg max-w-4xl mx-auto"
    >
        <h2 class="text-3xl font-semibold mb-6 text-center">
            SALA DE 2 AÑOS - NIVEL INICIAL
        </h2>
        <h3 class="text-2xl font-semibold mb-4 text-center">
            FUNDAMENTACIÓN INSTITUCIONAL
        </h3>

        <p class="mb-6 leading-relaxed">
            El Colegio Las Lomas de Carlos Spegazzini en el Nivel Inicial,
            creado en 2016, ha tenido una gran aceptación en la comunidad,
            ofreciendo jornada simple y doble desde la sala de 3 años. Nuestra
            institución fue pensada para dar respuesta a aquellos padres que,
            por diversas razones, trabajan ambos, brindando un espacio cómodo,
            cálido y con lineamientos pedagógicos de calidad. Garantizamos una
            puerta de entrada al mundo escolar, contemplando las capacidades y
            habilidades de cada niño, pensándolo como un ser único, con
            derechos, y fortaleciéndolo a lo largo de su trayectoria escolar.
        </p>

        <p class="mb-6 leading-relaxed">
            A partir de la demanda de nuestra comunidad educativa y la comunidad
            externa que rodea a Las Lomas, quienes expresaron la necesidad de un
            jardín maternal desde los 2 años, vimos la oportunidad de dar
            respuesta, ya que en las inmediaciones no existía una propuesta
            similar.
        </p>

        <p class="mb-6 leading-relaxed">
            Nos sentimos privilegiados por las expresiones de apoyo y pedido de
            nuestra comunidad, que reconocen el esmero y la dedicación de
            nuestro personal y de toda la institución en la tarea educativa y
            formativa de los niños que forman parte de nuestra matrícula actual.
        </p>

        <h3 class="text-2xl font-semibold mb-4 text-center">
            FUNDAMENTACIÓN PEDAGÓGICA
        </h3>

        <p class="mb-6 leading-relaxed">
            Los aprendizajes que los niños y niñas construyen en las primeras
            secciones de la Educación Inicial constituyen un pilar esencial para
            futuros saberes en múltiples lenguajes y campos del conocimiento.
            Valores, conceptos y habilidades integradas conforman una base
            sólida para un aprendizaje potente y significativo.
        </p>

        <p class="mb-6 leading-relaxed">
            Consideramos fundamental la valoración de los diferentes contextos
            de crianza y tradiciones socioculturales, respetando la infancia y
            trabajando mancomunadamente con las familias para ampliar las
            capacidades y bagajes culturales de los niños y las niñas.
        </p>

        <p class="mb-6 leading-relaxed">
            Las transformaciones sociales, culturales y económicas de nuestra
            sociedad han impactado en las formas de crianza, y los jardines
            maternales han evolucionado de una función asistencial a una función
            pedagógica integral, atendiendo específicamente las demandas de la
            primera infancia.
        </p>

        <p class="mb-6 leading-relaxed">
            La Ley de Educación Nacional N° 26.206 (2006) estructura el sistema
            educativo incluyendo el primer ciclo del Nivel Inicial,
            estableciendo en su artículo 24 que “los jardines maternales
            atenderán a los/as niños/as desde los cuarenta y cinco (45) días
            hasta los dos (2) años de edad inclusive”. Asimismo, el artículo 21
            señala la responsabilidad de las instituciones de “asegurar la
            atención, el cuidado y la educación integral de los/as niños/as”.
        </p>

        <p class="mb-6 leading-relaxed">
            Especialistas coinciden en la importancia de la educación en los
            primeros años para el desarrollo integral de los niños, impactando
            positivamente tanto en el ámbito social como individual. El acceso
            al jardín maternal ofrece oportunidades para ampliar los
            conocimientos y experiencias familiares mediante propuestas
            educativas específicas.
        </p>

        <p class="mb-6 leading-relaxed">
            Buscamos promover la formación integral de los alumnos en sus
            dimensiones social, afectiva emocional, corporal y motriz,
            expresiva, estética, cognitiva y ética. Esta misión institucional se
            realiza en estrecha colaboración con las familias, tal como
            establece la Ley Nacional de Educación en su artículo 20: “Propiciar
            la participación de las familias en el cuidado y la tarea educativa,
            promoviendo la comunicación y el respeto mutuo”.
        </p>

        <p class="text-center text-blue-600 font-semibold text-xl">
            COLEGIO LAS LOMAS DE CARLOS SPEGAZZINI
        </p>
    </section>

    <div class="h-12"></div>
    <PostHero />
    <div class="h-24"></div>
    <Inscripcion />
</Layout>
