---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import PostHero from '@/sections/PostHero.astro';
import Inscripcion from '@/sections/Inscripcion.astro';
import Image1 from '@/assets/banners/solicitud_vacante.png';
---

<Layout>
  <Hero />
  <section
    class="bg-white text-gray-800 p-8 rounded-2xl shadow-lg max-w-4xl mx-auto"
  >
    <h1 class="text-4xl font-bold mb-6 text-center">
      Documentación para el Ingreso
    </h1>

    <h2 class="text-3xl font-semibold mb-6">Nivel Inicial y Primario</h2>

    <p class="mb-6 leading-relaxed">
      La documentación exigida obligatoria al momento de la inscripción es la
      siguiente:
    </p>

    <ul class="list-disc ml-6 mb-6">
      <li>
        Documento Nacional de Identidad y fotocopia (del alumno y sus padres).
      </li>
      <li>Partida de Nacimiento y fotocopia.</li>
      <li>2 Foto carnet (4x4).</li>
      <li>
        Certificado de vacunación, bucodental y ficha de salud acompañada por
        apto físico. (Fecha de entrega hasta marzo)
      </li>
      <li>
        Estudios auditivos y oftalmológicos. (Para los alumnos de 1° grado)
        (Fecha de entrega hasta marzo)
      </li>
      <li>
        Si el alumno no ha cursado el año anterior en el Colegio, deberá
        presentar el Certificado de Aprobación del mismo, Pase correspondiente,
        Informe de Desempeño Escolar, Libre Deuda y el Boletín de
        Calificaciones.
      </li>
    </ul>

    <h2 class="text-3xl font-semibold mb-6">Nivel Secundario</h2>

    <p class="mb-6 leading-relaxed">
      La documentación exigida obligatoria al momento de la inscripción es la
      siguiente:
    </p>

    <ul class="list-disc ml-6 mb-6">
      <li>
        Documento Nacional de Identidad y fotocopia (del alumno y sus padres).
      </li>
      <li>Partida de Nacimiento y fotocopia.</li>
      <li>
        Fotocopia Documento Nacional de Identidad (DNI) exhibiendo el original.
      </li>
      <li>2 fotos carnet. (4x4)</li>
      <li>
        Certificado de vacunación, bucodental y ficha de salud acompañada por
        apto físico. (Fecha de entrega hasta marzo)
      </li>
      <li>
        Estudios auditivos y oftalmológicos. (Para los alumnos de 1° año) (Fecha
        de entrega hasta marzo)
      </li>
      <li>
        Si el alumno no ha cursado el año anterior en el Colegio, deberá
        presentar el Certificado de Aprobación del mismo indicando si adeuda o
        no materias, Pase correspondiente, Informe de Desempeño Escolar, Libre
        Deuda y el Boletín de Calificaciones.
      </li>
      <li>
        Analítico parcial de la otra Institución con calificaciones numéricas.
      </li>
    </ul>
    <h2 class="text-3xl font-semibold mb-6">
      Ingreso al nivel superior (5to Y 6to año)
    </h2>

    <ul class="list-disc ml-6 mb-6">
      <li class="">
        En el caso de que el ingreso al nivel secundario sea para los cursos de
        5to y 6to año, además de todo lo citado en el apartado anterior, deberá
        presentar equivalencias, en el caso de venir de una Institución con una
        orientación diferente a la de nuestro Colegio (Ciencias Sociales).
      </li>
    </ul>

    <p class="mb-8 leading-relaxed">
      Asegúrese de cumplir con todos los requisitos antes de la fecha límite
      para garantizar una inscripción exitosa.
    </p>
  </section>

  <div class="h-12"></div>
  <PostHero />
  <div class="h-24"></div>
  <Inscripcion />
</Layout>
