---
import BentoItem from "@/components/BentoItem.astro";
---

<section
    class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[24rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
    <BentoItem class="col-span-10 lg:col-span-6" title="1">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full
      h-full group-hover:scale-110 transition-scale duration-1000
      ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover
      bg-no-repeat bg-[url('/src/components/carpaBento.webp')]"
        >
        </div>
        <p slot="content" class="max-w-xl font-semibold text-white"></p>
    </BentoItem>

    <BentoItem class="col-span-10 md:col-span-4" title="2">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale
    duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover
    bg-no-repeat bg-[url('/src/components/valladoBento.webp')]"
        >
        </div>
        <p slot="content" class="max-w-xl font-semibold text-white"></p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title="3">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale
    duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover
    bg-no-repeat bg-[url('/src/components/gazeboBento.webp')]"
        >
        </div>
        <p slot="content" class="max-w-xl font-semibold text-white"></p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-6" title="4">
        <div
            slot="image"
            class="absolute left-0 top-0 bottom-0 w-full h-full group-hover:scale-110 transition-scale
  duration-1000 ease-in-out opacity-55 bg-blend-luminosity bg-center bg-cover
  bg-no-repeat bg-[url('/src/components/escenarioBento.webp')]"
        >
        </div>
        <p slot="content" class="max-w-xl font-semibold text-white"></p>
    </BentoItem>
</section>
