---
import Logo from "@/assets/logo.astro";
---

<section class="mt-5">
    <div
        class="posthero w-[95%] rounded-3xl mx-auto flex flex-row justify-between px-8 items-center gap-4 py-8 shadow-[-4px_4px_8px_rgba(0,0,0,0.25)]"
    >
        <div class="flex flex-row items-center justify-between w-full">
            <div class="text-center hidden md:flex justify-center w-[20%]">
                <Logo width="110" height="110" />
            </div>
            <div class="w-1 hidden md:flex rounded-full h-24 bg-[#303030]">
            </div>
            <div class="w-[50%] text-center">
                <h1
                    style="text-shadow: 0px 2px 5px white;"
                    class="uppercase text-l md:text-5xl text-[#1C1C1E] font-bold"
                >
                    Abierta la inscripción <span class="md:text-7xl block"
                        >todo el año</span
                    >
                </h1>
            </div>

            <div class="text-center flex md:hidden justify-center w-fit">
                <Logo width="80" height="80" />
            </div>
            <div class="w-1 hidden md:flex rounded-full h-24 bg-[#303030]">
            </div>
            <div
                class="hidden md:flex justify-center w-[20%] text-center text-white uppercase"
            >
                <h1 class="md:text-2xl">
                    Colegio <br />
                    <span class="font-bold md:text-3xl">Las Lomas</span>
                </h1>
            </div>
        </div>
    </div>
</section>

<style>
    .posthero {
        background-image: url("/fondo_posthero.webp");
        background-size: cover;
        background-position: center;
    }
</style>
