---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import PostHero from '@/sections/PostHero.astro';
import Inscripcion from '@/sections/Inscripcion.astro';

import Image1 from '@/assets/banners/las_lomas_aula.png';
import Image2 from '@/assets/banners/las_lomas_frente.png';
---

<Layout>
  <Hero />
  <section
    class="bg-white text-gray-800 p-8 rounded-2xl shadow-lg max-w-4xl mx-auto"
  >
    <h1 class="text-4xl font-bold mb-6 text-center">
      Colegio Las Lomas de Carlos Spegazzini
    </h1>

    <h2 class="text-3xl font-semibold mb-4">Niveles Educativos</h2>
    <p class="mb-6 leading-relaxed">
      El Colegio Las Lomas ofrece formación en los siguientes niveles
      educativos:
    </p>
    <ul class="space-y-4">
      <li><strong class="text-blue-600">Maternal</strong></li>
      <li><strong class="text-blue-600">Jardín</strong></li>
      <li><strong class="text-blue-600">Primaria</strong></li>
      <li>
        <strong class="text-blue-600">Secundaria</strong> con orientación en Ciencias
        Sociales
      </li>
    </ul>

    <h2 class="text-3xl font-semibold mt-8 mb-4">Horarios de Funcionamiento</h2>

    <h3 class="text-2xl font-semibold mt-6 mb-2">Nivel Inicial</h3>
    <p class="mb-2 leading-relaxed">
      Jornada escolar obligatoria para salas de 2, 3, 4 y 5 años.
    </p>
    <p class="mb-2 leading-relaxed">
      <strong>Jornada simple:</strong> 08:00 a 12:00 horas
    </p>
    <p class="mb-2 leading-relaxed">
      <strong>Jornada completa:</strong> 08:00 a 16:30 horas
    </p>
    <!--<p class="mb-2 leading-relaxed">
            <strong>Almuerzo:</strong> 12:00 a 13:00 horas (Higiene - Almuerzo -
            Recreación)
        </p>
         <p class="mb-2 leading-relaxed">
            *Las puertas de la institución se abren a las 07:35 y se cierran a
            las 17:00 horas.
        </p> -->

    <h3 class="text-2xl font-semibold mt-6 mb-2">Nivel Primario</h3>
    <p class="mb-2 leading-relaxed">
      Jornada escolar obligatoria para 1º a 6º grado.
    </p>
    <p class="mb-2 leading-relaxed">
      <strong>Jornada simple:</strong> 08:00 a 12:45 horas
    </p>
    <p class="mb-2 leading-relaxed">
      <strong>Jornada completa:</strong> 08:00 a 17:00 horas
    </p>
    <!-- <p class="mb-2 leading-relaxed">
            <strong>Almuerzo:</strong> 12:00 a 13:00 horas (Higiene - Almuerzo -
            Recreación)
        </p>
        <p class="mb-2 leading-relaxed">
            *Las puertas de la institución se abren a las 07:35 y se cierran a
            las 17:00 horas.
        </p> -->

    <h3 class="text-2xl font-semibold mt-6 mb-2">Nivel Secundario</h3>
    <p class="mb-2 leading-relaxed">
      Jornada escolar obligatoria para 1º a 6º año.
    </p>
    <p class="mb-2 leading-relaxed">
      <strong>Horario:</strong> 07:30 a 13:00 horas
    </p>
    <!-- <p class="mb-2 leading-relaxed">
            <strong>Almuerzo:</strong> 13:00 a 13:50 horas (Higiene - Almuerzo -
            Recreación)
        </p>
        <p class="mb-2 leading-relaxed">
            *Las puertas de la institución se abren a las 07:20 y se cierran a
            las 17:00 horas.
        </p> -->
  </section>
  <div class="h-12"></div>
  <PostHero />
  <div class="h-24"></div>
  <Inscripcion />
</Layout>
